.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 90%;
  padding: 20px 10px;
  margin: 0 auto;
  margin-top: 2rem;
}

.experience-container > * {
  flex: 1;
  min-width: 0;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 920px) {
  .experience-container {
    width: 90%;
    padding: 20px 16px;
  }

  .experience-cards-div {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
